<!DOCTYPE html>
<html lang="pt-br">
<!--
        BEM-VINDO A BORDO!
                #                                              
              #   #                   
         #   #     #   #              
     #      #       #       #                                  
           #         #             
  #       #           #        #   
         #             #           
 #      #               #       #  
        #         # #    #         
   #    #       #    #   #    #                                
      # #     #       #  # #       
        #   # # # # #  # #         
        # #             ##                                     
        #                #                                                        
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Conheça um pouco mais sobre mim.">
    <meta name="author" content="Daniel Bailão">
    <title>Daniel Bailão</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="icon" href="imagens/profile/helmet.ico">
</head>

<body>
    <div class="container-fluid" style="padding-top: 30px">
        <div class="text-center">
            <img src="imagens/profile/danielbailao.jpg" width=150 class="profile-pic">
            <h1>Daniel Soares Bailão</h1>
            <h3>.Net developer Software Engineer Student and IT lover</h3>

            <div class="text-center m-20">
                <a href="https://github.com/dsbailao" class="" target="_blank">
                    <i class="fab fa-github"> GitHub</i>
                </a>
                -
                <a href="https://www.linkedin.com/in/dsbailao/" class="" target="_blank">
                    <i class="fab fa-linkedin"> LinkedIn</i>
                </a>
                -
                <a href="https://www.facebook.com/dsbailao" class="" target="_blank">
                    <i class="fab fa-facebook"> Facebook</i>
                </a>
            </div>
        </div>

        <div class="row row-grey">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-lg-8 col-lg-push-4">
                        <img src="imagens/works/erp.JPG" class="img-responsive center-block" style="width: 200px">
                    </div>
                    <div class="col-lg-4 col-lg-pull-8">
                        <h2>DSB - ERP</h2>
                        <p>ERP desenvolvido para atender as necessidades de pequenos comerciantes que precisam controlar casdastro de clientes, funcionários, vendas e estoque.</p>
                        <h4>Tecnologias utilizadas</h4>
                        <p>.Net C# e Entity Framework</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-12">
                        <img src="imagens/logos/dotnetSVG.svg" class="techlogo" width="70">
                        <!-- <img src="imagens/logos/unitySvg.svg" class="techlogo" width="100"> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-white">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- <img src="img/mmcigarco.png" class="img-responsive center-block"> -->
                    </div>
                    <div class="col-lg-4">
                        <h2>Pós-Graduação</h2>
                        <p>Engenharia de Software</p>
                        <h4>Trabalhos realizados</h4>
                        <p>Melhorias ao framewrok AidMe</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-12">
                        <!-- <img src="img/techlogos/bootstrap.png" class="techlogo" width="100">
							<img src="img/techlogos/html.png" class="techlogo" width="100">
							<img src="img/techlogos/js.png" class="techlogo" width="100"> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-tools row-grey">
            <div class="col-sm-12 text-center">
                <h3>Ferramentas que utilizo</h3>
                <!-- <img src="img/tool-logos/git.png" class="techlogo" width="150">
					<img src="img/tool-logos/sublime.png" class="techlogo" width="150">
					<img src="img/tool-logos/visual-studio.png" class="techlogo" width="120"> -->
            </div>
        </div>

        <div class="row row-footer text-center row-white">
            <div class="col">
                <div class="m-50">
                    <h3 class="m-50-15">Estou disponível para trabalhos, entre em contato!</h3>
                    <h5>dsbailao@gmail.com</h5>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
</body>

</html>